*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: unicode;
}
:root {
  --background-color: #d95550;
  --background-lighter: #dd6662;
  --text-dark: #541c1f;
  --text-grey: #785e60;
  --grey: #ebebeb;
  --white: #fff;
  --highlights: #f69d9a;

  --font-title: 3rem;

  --font-text: 1.4rem;
}

@font-face {
  font-family: unicode;
  src: url(../font/unicode.arialr.ttf);
  letter-spacing: 1em;
}
h1,
h2,
h3,
h4,
#logo {
  font-weight: bold;
}

body {
  font-weight: 300;
  background: var(--background-color);
}

section,
nav,
hr {
  width: 40vw;
  margin: auto;
}
#white_bg {
  background-color: var(--white);
}
/* ***********************NAV*********************** */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  line-height: 5%;
}
#menu {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.2rem;
}
#logo {
  font-size: 1.4rem;
}
nav a i {
  padding-right: 0.6rem;
}
#menu a {
  font-size: 0.9rem;
  background-color: var(--background-lighter);
  padding: 0.6rem 1rem;
  margin: 0.3rem;
  border-radius: 3px;
  opacity: 90%;
}

/* ***********************TIMER*********************** */
#timer {
  background-color: var(--background-lighter);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 44vh;
  margin-top: 5vh;
  width: 30vw;
}
#types a {
  margin-left: 0.5rem;
}
h1 {
  color: var(--white);
  font-size: 8rem;
}
button {
  padding: 3% 20%;
  background-color: white;
  box-shadow: 0px 5px var(--grey);
  border: none;
  border-radius: 5px;
}
button p {
  font-family: unicode;
  font-weight: bold;
  color: var(--background-color);
  font-size: 1.5rem;
}
/* ***********************TASK*********************** */
#task {
  width: 30vw;
  height: 60vh;
  margin: 3rem auto;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-weight: bold;
}
.task_options {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
#create_task {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.tasks {
  width: 100%;
  height: 90%;

  border-radius: 5px;
  display: flex;
}
.task_done {
  background-color: var(--white);
  color: var(--text-grey);
  justify-content: space-between;
  align-items: center;
}
.task_name,
.task_num {
  display: flex;
}
.task_add {
  opacity: 60%;
  background-color: var(-);
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--highlights);
}
#task i {
  margin: 0 0.4rem;
}
.time {
  background-color: var(--highlights);
  width: 100%;
  height: 15%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ***********************ADDONS*********************** */
hr {
  border: 0.01rem solid var(--text-grey);
}
main hr {
  width: 30vw;
}
